
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GIS ROAD ASSET MANAGEMENT</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">



    <link href="~/Content/lib/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />

    @* Bootstrap 5.2.3*@
    @*    <link href="~/Content/bootstrap-version.css" rel="stylesheet" />
    *@
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Icon Font Stylesheet -->
    @*    <link href="~/Content/fontAwesome/all.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap-icons.css" rel="stylesheet" />

    <!-- Libraries Stylesheet -->
    @*<link href="/lib/animate/animate.css" rel="stylesheet">*@
    <link href="~/Content/lib/animate/animate.css" rel="stylesheet">
    <link href="~/Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/Content/css/style.css" rel="stylesheet">

    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <style>
        body {
            padding: 0 !important;
        }
    </style>
</head>

<body>

    <div>

        @RenderBody()
    </div>

    <script src="~/Content/js/loginValidate.js"></script>
    <script src="~/Content/js/SignupValidation.js"></script>
    <script>
        $(document).ready(function () {
            // Clear form fields when the modal is closed
            $('#loginModal').on('hidden.bs.modal', function () {
                // Clear all input fields inside the form
                $('#LoginForm').find('input').val('');
                // Clear the error messages
                $('.error-message').text('');
                // Optionally, clear other types of fields like select, textarea, etc.
            });
            $('#signupModal').on('hidden.bs.modal', function () {
                // Clear all input fields inside the form
                $('#CitizenForm').find('input').val('');
                $('#ContractorForm').find('input').val('');

                // Clear the error messages
                $('.error-message').text('');
                // Optionally, clear other types of fields like select, textarea, etc.
            });

        });
    </script>
</body>
</html>
