
@{
    ViewBag.Title = "_Navbar";
}
@model IEnumerable<GIS_ROAD_ASSET_MANAGEMENT.Models.WardModel>
<nav class="navbar navbar-expand-lg navbar-light bg-white px-4 px-lg-5 py-3 py-lg-0">
    <a href="index.html" class="navbar-brand p-0">
        <h1 class="text-primary fs-6 m-0"> <img src="~/Content/img/GIS ASSET.png" alt="Logo">GIS ROAD MANAGEMENT</h1>

    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" id="navbar-toggler">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            <a href="/Home/Index" class="nav-item nav-link active">Home</a>
            <a href="/Home/Services" class="nav-item nav-link">Services</a>
            <a href="/Home/About" class="nav-item nav-link">About</a>
            <a href="/Home/Contact" class="nav-item nav-link">Contact Us</a>
        </div>
        <div>
            <button id="log_btn" type="button" class="btn btn-primary  rounded-pill text-white me-2 py-2 px-4 flex-wrap flex-sm-shrink-0" data-bs-toggle="modal" data-bs-target="#loginModal">Log In</button>
        </div>
        <div>
            <button id="signup_btn" type="button" class="btn btn-primary rounded-pill text-white py-2 px-4 flex-wrap flex-sm-shrink-0" data-bs-toggle="modal" data-bs-target="#signupModal">Signup</button>
        </div>

    </div>
</nav>
<!-- Login Modal -->
@*  <div class="modal fade" id="loginModal" role="dialog">*@
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    @* <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">*@

    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Login</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form role="form" name="LoginForm" id="LoginForm" method="post">
                    <div class="form-group mb-3">
                        <label for="Lusername"><i class="fa-solid fa-user "></i>&nbsp; Username</label>
                        <input type="text" name="Lusername" class="form-control" id="Lusername" placeholder="Enter email">
                        <small id="LemailError" class="error-message text-danger"></small>
                    </div>
                    <div class="form-group mb-3">
                        <label for="Lpassword"><i class="fa-solid fa-lock"></i>&nbsp; Password</label>
                        <input type="password" name="Lpassword" class="form-control" id="Lpassword" placeholder="Enter password">
                        <small id="LpwdError" class="error-message text-danger"></small>
                    </div>
                    <div class="checkbox mb-2">
                        <label><input type="checkbox" value="" checked>Remember me</label>
                    </div>
                    <button type="submit" id="Loginbtn" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
                </form>
                <div id="errorMessage" class="text-danger"></div> <!-- This is where the error message will be displayed -->
            </div>
            <div class="modal-footer" style="justify-content: flex-start;">
                <p>Not a member? <a id="signup_link" href="#" data-bs-toggle="modal" data-bs-target="#signupModal" data-dismiss="modal">Sign Up</a></p>|
                <p> <a href="#">Forgot Password?</a></p>
            </div>
        </div>
    </div>
</div>
<!--- login modal end-->
<!-- signup Modal open -->




<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"> Sign up </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="radio-container">
                    <input type="radio" name="content" value="Citizen" checked> As Citizen
                    &nbsp;&nbsp;
                    <input type="radio" name="content" value="Contractor"> As Contractor
                </div>
                <br />
                <div id="contentCitizen" class="content">
                    <!-- Content for Citizen -->
                    <form role="form" name="CitizenForm" id="CitizenForm" method="post">
                        <div class="form-group mb-3">
                            <label for="Cname"><i class="fa-solid fa-user "></i>&nbsp; Name</label>
                            <input type="text" class="form-control" id="Cname" placeholder="Enter name">
                            <span id="CnameError" class="error-message text-danger"></span>
                        </div>
                        <div class="form-group  mb-3">
                            <label for="CEmail"><i class="fa-solid fa-envelope"></i>&nbsp; Email</label>
                            <input type="text" class="form-control" id="CEmail" placeholder="Enter email">
                            <span id="CemailError" class="error-message text-danger"></span>
                        </div>
                        <!-- Add more form fields as needed -->
                        <div class="form-group  mb-3">
                            <label for="Ccontact"><i class="fa-solid fa-address-book"></i>&nbsp; Contact No</label>
                            <input type="number" class="form-control" id="Ccontact" placeholder="Enter contact no">
                            <span id="CnumberError" class="error-message text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="Cward"> <i class="fa-solid fa-building"></i>&nbsp; Ward Number</label>
                            <div class="select">
                                <select id="Cward" class="form-control" name="wardname">

                                    @foreach (var ward in Model)
                                    {
                                        <option value="@ward.ward_id">@ward.ward_name</option>
                                    }


                                </select>



                                <span class="focus"></span>
                            </div>

                            <span id="CwardError" class="error-message text-danger"></span>

                        </div>
                        <div class="form-group mb-3">
                            <label for="Cpsw"><i class="fa-solid fa-lock"></i>&nbsp; Password</label>
                            <input type="password" class="form-control" id="Cpsw" placeholder="Enter password">
                            <span id="CpswError" class="error-message text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="Ccnf-psw"><i class="fa-solid fa-lock"></i>&nbsp; Confirm Password</label>
                            <input type="password" class="form-control" id="Ccnf-psw" placeholder="Enter Confirm password">
                            <span id="CCnf-pswError" class="error-message text-danger"></span>
                        </div>
                        <button type="submit" id="CitizenSignupBtn" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-off"></span> Sign Up</button>
                    </form>
                </div>
                <div id="contentContractor" class="content" style="display:none;">
                    <!-- Content for Contractor -->
                    <form role="form" name="ContractorForm" id="ContractorForm" method="post">
                        <div class="form-group mb-3">
                            <label for="Con_name"><i class="fa-solid fa-user "></i>&nbsp; Name</label>
                            <input type="text" class="form-control" id="Con_name" placeholder="Enter name">
                            <span id="Con_usrnameError" class="error-message text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="Con_Email"><i class="fa-solid fa-envelope"></i>&nbsp; Email</label>
                            <input type="text" class="form-control" id="Con_Email" placeholder="Enter email">
                            <span id="Con_emailError" class="error-message text-danger"></span>
                        </div>
                        <!-- Add more form fields as needed -->
                        <div class="form-group mb-3">
                            <label for="Con_contact"><i class="fa-solid fa-address-book"></i>&nbsp; Contact No</label>
                            <input type="number" class="form-control" id="Con_contact" placeholder="Enter contact no">
                            <span id="Con_numberError" class="error-message text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="Con_Company"><i class="fa-solid fa-building"></i>&nbsp; Company</label>
                            <input type="text" class="form-control" id="Con_Company" placeholder="Enter company name">
                            <span id="Con_companyError" class="error-message text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="Con_ward"> <i class="fa-solid fa-building"></i>&nbsp; Ward Number</label>
                            <div class="select">

                                <select id="Con_ward" class="form-control" name="wardname">

                                    @foreach (var ward in Model)
                                    {
                                        <option value="@ward.ward_id">@ward.ward_name</option>
                                    }


                                </select>
                                <span class="focus"></span>
                            </div>

                            <span id="Con_wardError" class="error-message text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="Con_identity"><i class="fa-solid fa-file"></i>&nbsp; Proof of identity</label>
                            <input type="file" class="form-control" id="Con_identity">
                            <span id="Con_proofError" class="error-message text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label for="Con_psw"><i class="fa-solid fa-lock"></i>&nbsp; Password</label>
                            <input type="password" class="form-control" id="Con_psw" placeholder="Enter password">
                            <span id="Con_pswError" class="error-message text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="Con_cnf-psw"><i class="fa-solid fa-lock"></i>&nbsp; Confirm Password</label>
                            <input type="password" class="form-control" id="Con_cnf-psw" placeholder="Enter Confirm password">
                            <span id="Con_conf-pswError" class="error-message text-danger"></span>
                        </div>
                        <button type="submit" id="ContractorSignupBtn" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-off"></span> Sign Up</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer" style=" justify-content: flex-start; ">
                <p>Already have an account ? <a id="log_link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal" data-dismiss="modal">Log In</a></p>
            </div>
        </div>
    </div>
</div>
<!--- sigup modal end-->
