<!-- Navbar & Hero Start -->
<<<<<<< HEAD
<div class="container-fluid position-relative p-0">
    @Html.Action("Navbar", "Home")
    <div id="errorMessage" class="text-danger"></div>

=======




<div class="container-fluid position-relative p-0">
    @Html.Action("Navbar", "Home")

   
>>>>>>> origin/branch-yashvi


    <!-- Carousel start -->
    <div class="container-fluid p-0">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="header-carousel owl-carousel">
                <div class="header-carousel-item">
                    <img src="~/Content/img/construction4.jpg" class="img-fluid w-100" alt="Image">
                    <div class="carousel-caption">
                        <div class="carousel-caption-content p-3">
                            <h5 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">WE BUILD TRUST HERE</h5>
                            <h1 class="display-1 text-capitalize text-white mb-4">Constructing pathways to progress</h1>
                            <p class="mb-5 fs-5">
                                Transforming visions into reality, our road construction services offer comprehensive solutions from inception to completion. With expertise in planning, design, and execution, we ensure the development of robust and sustainable transportation infrastructure.
                            </p>
                            <a class="btn btn-primary rounded-pill  py-3 px-5" href="#service2">EXPLORE MORE </a>

                        </div>
                    </div>
                </div>
                <div class="header-carousel-item">
                    <img src="~/Content/img/construction3.jpg" class="img-fluid w-100" alt="Image">
                    <div class="carousel-caption">
                        <div class="carousel-caption-content p-3">
                            <h5 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">WE BUILD TRUST HERE</h5>
                            <h1 class="display-1 text-capitalize text-white mb-4">Building bridges to better journeys</h1>
                            <p class="mb-5 fs-5 animated slideInDown">
                                Constructing connections and pathways for improved experiences, fostering unity, progress, and facilitating smoother transitions towards brighter destinations
                            </p>
                            <a class="btn btn-primary rounded-pill  py-3 px-5" href="#service2">EXPLORE MORE </a>


                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <i class="fas fa-chevron-left"></i>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <i class="fas fa-chevron-right"></i>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Carousel end -->
        <!-- service start -->
        <div class="container-fluid py-5  service service1" id="service2">
            <div class="container py-5">
                <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="sub-style">
                        <h4 class="sub-title px-3 mb-0">What We Do</h4>
                    </div>
                    <h1 class="display-3 mb-4">Our Service</h1>
                    <p class="mb-0">Transforming visions into reality, our road construction services offer comprehensive solutions from inception to completion. With expertise in planning, design, and execution, we ensure the development of robust and sustainable transportation infrastructure. From asphalt pavement to bridge construction, our dedication ensures safe, efficient, and enduring roadways for communities to thrive</p>
                </div>
                <div class="row g-4 justify-content-center">

                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded card-height">
                            <div class="service-img rounded-top">
                                <img src="~/Content/img/services_background10.jpg" class="img-fluid rounded-top" alt="">
                            </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Sustainable Infrastructure</h5>
                                    <p class="mb-4">Building tomorrow's roads today with eco-friendly practices, prioritizing sustainability for long-term community benefits.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded card-height">
                            <div class="service-img rounded-top">
                                <img src="~/Content/img/services_background9.jpg" class="img-fluid rounded-top" alt="">
                            </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Sustainable Infrastructure</h5>
                                    <p class="mb-4">Building tomorrow's roads today with eco-friendly practices, prioritizing sustainability for long-term community benefits.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded card-height">
                            <div class="service-img rounded-top">
                                <img src="~/Content/img/services_background7.jpg" class="img-fluid rounded-top" alt="">
                            </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Two Way Communication</h5>
                                    <p class="mb-4">Fostering connectivity through advanced communication networks embedded within road safety and efficiency.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded card-height">
                            <div class="service-img rounded-top">
                                <img src="~/Content/img/services_background8.jpg" class="img-fluid rounded-top" alt="">
                            </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Safe Road and Enviornmental Condition</h5>
                                    <p class="mb-4">Ensuring to creating secure and environmentally-friendly transportation corridors.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Repeat the above card structure for other cards -->
                </div>
            </div>
        </div>
        <!-- service end -->
        <!-- about start -->
        <div class="container-fluid about bg-light py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="about-img pb-5 ps-5">
                            <img src="~/Content/img/services_background4.jpg" class="img-fluid rounded" style="object-fit: cover; height:33em; width:30em" alt="Image">
                            <div class="about-img-inner">
                                <img src="~/Content/img/round-image.jpg" class="img-fluid rounded-circle" style="height:16em; width:16em" alt="Image">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 wow fadeInRight" data-wow-delay="0.4s">
                        <div class="section-title text-start mb-5">
                            <h4 class="sub-title pe-3 mb-0">About Us</h4>
                            <h1 class="display-3 mb-4">Navigating Towards Sustainable Roads.</h1>
                            <p class="mb-4"> Your trusted destination for all things road construction and management. We specialize in providing innovative solutions to build, maintain, and optimize roads for safer and smoother journeys. From expert insights to cutting-edge technologies, we're paving the way for efficient infrastructure development. Let's embark on the road to progress together.</p>
                            <div class="mb-4">
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Smooth road maintenance strategies.</p>
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Innovative infrastructure development.</p>
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Sustainable materials for road construction.</p>
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Emergency response and maintenance services.</p>
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Cost-effective maintenance solutions for budget optimization.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- about end -->
        <!--  about feature  start -->
        <div class="container-fluid feature py-5">
            <div class="container py-5">
                <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="sub-style">
                        <h4 class="sub-title px-3 mb-0">Why Choose Us</h4>
                    </div>
                    <h1 class="display-3 mb-4">Why Choose Us? Because Your Journey Matters</h1>
                    <p class="mb-0">Quality roads are the foundation of safe and efficient travel. Here, we're dedicated to crafting roads that stand the test of time, connecting communities and ensuring smoother journeys for all.</p>
                </div>
                <div class="row g-4 justify-content-center">
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="row-cols-1 feature-item p-4">
                            <div class="col-12">
                                <div class="feature-icon mb-4">
                                    <div class="p-3 d-inline-flex bg-white rounded">
                                        <i class="fas fa-tools fa-4x text-primary"></i>
                                    </div>
                                </div>
                                <div class="feature-content d-flex flex-column">
                                    <h5 class="mb-4">Maintenance Mastery</h5>
                                    <p class="mb-0">Expert maintenance solutions ensuring road longevity and safety for all travelers.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="row-cols-1 feature-item p-4">
                            <div class="col-12">
                                <div class="feature-icon mb-4">
                                    <div class="p-3 d-inline-flex bg-white rounded">
                                        <i class="fas fa-globe fa-4x text-primary"></i>
                                    </div>
                                </div>
                                <div class="feature-content d-flex flex-column">
                                    <h5 class="mb-4">Complete GIS Solution</h5>
                                    <p class="mb-0">Dynamic GIS mapping, analysis, data management for versatile spatial insights.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="row-cols-1 feature-item p-4">
                            <div class="col-12">
                                <div class="feature-icon mb-4">
                                    <div class="p-3 d-inline-flex bg-white rounded">
                                        <i class="fas fa-shield-alt fa-4x text-primary"></i>
                                    </div>
                                </div>
                                <div class="feature-content d-flex flex-column">
                                    <h5 class="mb-4">Safety Assurance</h5>
                                    <p class="mb-0">Ensuring safety stringent protocols,constant monitoring,corrective actions.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="row-cols-1 feature-item p-4">
                            <div class="col-12">
                                <div class="feature-icon mb-4">
                                    <div class="p-3 d-inline-flex bg-white rounded">
                                        <i class="fas fa-users fa-4x text-primary"></i>
                                    </div>
                                </div>
                                <div class="feature-content d-flex flex-column">
                                    <h5 class="mb-4">Expert Network </h5>
                                    <p class="mb-0">Collaborating with diverse specialists for exceptional road solutions.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- about feature end -->
        <!-- Contact start -->
        <div class="container-fluid contact py-5">
            <div class="container py-5">
                <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="sub-style mb-4">
                        <h4 class="sub-title text-white px-3 mb-0">Contact Us</h4>
                    </div>
                    <p class="mb-0 text-black-50">Connect with us to discuss your requirements, queries, or collaborations. Our team is ready to assist you in achieving your goals. Reach out now for personalized assistance and support.</p>
                </div>
                <div class="row g-4 align-items-center">
                    <div class="col-lg-5 col-xl-5 contact-form wow fadeInLeft" data-wow-delay="0.1s">
                        <h2 class="display-5 text-white mb-5 text-center">Get in Touch</h2>
                        <div class="justify-content-center">
                            <form>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control bg-transparent border border-white" id="name" placeholder="Your Name">
                                            <label for="name">Your Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control bg-transparent border border-white" id="email" placeholder="Your Email">
                                            <label for="email">Your Email</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="phone" class="form-control bg-transparent border border-white" id="phone" placeholder="Phone">
                                            <label for="phone">Your Phone</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control bg-transparent border border-white" id="project" placeholder="Project">
                                            <label for="project">Your Project</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control bg-transparent border border-white" id="subject" placeholder="Subject">
                                            <label for="subject">Subject</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <textarea class="form-control bg-transparent border border-white" placeholder="Leave a message here" id="message" style="height: 160px"></textarea>
                                            <label for="message">Message</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-light text-primary w-100 py-3">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Contact end -->

    </div>
    <!-- Back to Top -->
    @*  <a href="#" class="btn btn-primary btn-lg-square back-to-top"><i class="fa fa-arrow-up"></i></a>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Include Owl Carousel JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script>
        $(document).ready(function () {

            $('.header-carousel').owlCarousel({
                items: 1,
                loop: true,
                autoplay: true,
                autoplayTimeout: 3000, // Autoplay interval in milliseconds
                autoplayHoverPause: true // Pause autoplay on hover
            });
        });
        $('#navbar-toggler').click(function () {
            $('#navbarCollapse').show();
        })
    </script>



