

<!-- Navbar & Hero Start -->
@Html.Action("Navbar", "Home")
<!-- Navbar End -->
<!-- Header Start -->
<div class="container-fluid service-bg">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">Our Services</h3>
        <ol class="breadcrumb justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-item text-white"><a href="/Home/Index">Home</a></li>
            <li class="breadcrumb-item active text-primary text-white">Services</li>
        </ol>
    </div>
</div>
<!-- Header end  -->
<!-- Services Start -->
<div class="container-fluid py-5  service ">
    <div class="container py-5">
        <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.2s">
            <div class="sub-style">
                <h4 class="sub-title px-3 mb-0">What We Do</h4>
            </div>
            <h1 class="display-3 mb-4">Our Services given to Paving the Way Forward</h1>
            <p class="mb-0">Transforming visions into reality, our road construction services offer comprehensive solutions from inception to completion. With expertise in planning, design, and execution, we ensure the development of robust and sustainable transportation infrastructure. From asphalt pavement to bridge construction, our dedication ensures safe, efficient, and enduring roadways for communities to thrive</p>
        </div>
        <div class="row g-4 justify-content-center">

            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded card-height">
                    <div class="service-img rounded-top">
                        <img src="~/Content/img/services_background10.jpg" class="img-fluid rounded-top" alt="">
                    </div>
                    <div class="service-content rounded-bottom bg-light p-4">
                        <div class="service-content-inner">
                            <h5 class="mb-4">Sustainable Infrastructure</h5>
                            <p class="mb-4">Building tomorrow's roads today with eco-friendly practices, prioritizing sustainability for long-term community benefits.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded card-height">
                    <div class="service-img rounded-top">
                        <img src="~/Content/img/services_background9.jpg" class="img-fluid rounded-top" alt="">
                    </div>
                    <div class="service-content rounded-bottom bg-light p-4">
                        <div class="service-content-inner">
                            <h5 class="mb-4">Sustainable Infrastructure</h5>
                            <p class="mb-4">Building tomorrow's roads today with eco-friendly practices, prioritizing sustainability for long-term community benefits.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded card-height">
                    <div class="service-img rounded-top">
                        <img src="~/Content/img/services_background7.jpg" class="img-fluid rounded-top" alt="">
                    </div>
                    <div class="service-content rounded-bottom bg-light p-4">
                        <div class="service-content-inner">
                            <h5 class="mb-4">Two Way Communication</h5>
                            <p class="mb-4">Fostering connectivity through advanced communication networks embedded within road safety and efficiency.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded card-height">
                    <div class="service-img rounded-top">
                        <img src="~/Content/img/services_background8.jpg" class="img-fluid rounded-top" alt="">
                    </div>
                    <div class="service-content rounded-bottom bg-light p-4">
                        <div class="service-content-inner">
                            <h5 class="mb-4">Safe Road and Enviornmental Condition</h5>
                            <p class="mb-4">Ensuring to creating secure and environmentally-friendly transportation corridors.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Repeat the above card structure for other cards -->
        </div>
    </div>
</div>

<!-- Services End -->
<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-lg-square back-to-top"><i class="fa fa-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/lib/wow/wow.min.js"></script>
<script src="~/Content/lib/easing/easing.min.js"></script>
<script src="~/Content/lib/waypoints/waypoints.min.js"></script>
<script src="~/Content/lib/owlcarousel/owl.carousel.min.js"></script>


<!-- Template Javascript -->
<script src="~/Content/js/main.js"></script>
<!-- Bootstrap JS and dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<!-- Wow JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script>
    new WOW().init();

</script>

